* {
  margin: 0;
  padding: 0;
}
#logo {
  text-shadow: 4px 4px 8px rgb(46, 139, 216);
  color: #0B2240;
  margin-top: 15%;
}
#messageText {
  color: red;
  text-align: center;
}
#home-logo {
  text-shadow: 4px 4px 8px rgb(46, 139, 216);
  color: #0B2240;
  font-size: 300%;
}
hr {
  color: red;
  margin: 0 5%;
  background: yellow;
}
#sort-by {
  margin: 0 3%;
  display: flex;
  justify-content: space-between;
}
#sort-by select {
  color:#15437F;
  background: white;
  border:solid  #0B2240 6px;
  border-radius: 5px;
}
.welcome-div {
  height: 500px;
  max-height: 400px;
  background-image: url("../image/repair1.jpg");
  padding-top: 10%;
}
.nav {
  list-style: none;
  height: auto;
  background-color:#15437F;
  padding: 1% 0 ;
}
.nav a {
  text-decoration: none;
  display: block;
  padding: 0 1em;
  color: white;
}
.navContainer {
  display: flex;
}
.navItem {
  flex: 1;
}
.navStart {
  justify-content: flex-start;
}
.navEnd {
  justify-content: flex-end;
}
.navWrap {
  flex-wrap: wrap;
}
.itemCenter {
  align-items: center;
}
.navColumn {
  flex-direction: column;
}
.navSpaceBetween {
  justify-content: space-between;
}
.navSpaceAround {
  justify-content: space-around;
}
.text-center {
  text-align: center;
}


body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  color: #15437F;
  padding: 0 0 50px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.form-container {
  border: solid 3px #15437F;
  margin: 5% 25%;
  padding: 2% 0;
  border-radius: 2%;
  background: #15437F;
}
.status-container {
  display: flex;
  list-style: none;
  height: auto;
}
.status-item {
  flex: 1;
  list-style: none;
}
.status-start {
  justify-content: flex-start;
}
.status-end {
  justify-content: flex-end;
}
#welcome-text {
  margin: 0 20%;
}
.container * {
  box-sizing: border-box;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li {
  margin-bottom: 20px;
}

.flex-outer li label {
  padding: 8px;
  font-weight: 900;
  letter-spacing: .09em;
  color: white;
}

.flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer li input {
  padding: 15px;
  border: solid 2px #15437F;
  border-radius: 8px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #0B2240;
  color: #f2f2f2;
  letter-spacing: .09em;
  border-radius: 2px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
  margin-top: 0;
  background: #0B2240;
}
.mini-card {
  width: 256px;
  height: 256px;
  color: white;
}
.mini-card-text {
  text-align: center;
  font-size: 8em;
  background: white;
  color: #0B2240;
  border-radius: 6px;
}
.card {
  flex: 0 1 24%;
  background: #15437F;
  border: solid 1px rgb(73, 73, 182);
  border-radius:5px;
  color:white;
  height: auto;
}
.card h3 {
  color: white;
}
.card-content {
  padding: 5px;
  text-align: center;
}
.container form {
  margin-top: 3%;
  margin-bottom: 30%;
}
#request-header {
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 2%;
  color: rgb(52, 61, 145);
  font-weight: bold;
  font-size: 150%;
}
.show-detail-card {
  margin: auto;
  justify-content: center;
  background: white;
  display: flex;
  height: auto;
}
.show-detail-card img {
  border: solid 1px  #0B2240;
  border-radius:5px;
}
.display-card {
  margin: 5%;
}
.description-card {
  margin:0 10%;
  height: auto;
  display: flex;
  flex: 0 1 500px;
  background-color: #0B2240;
}
.description-p {
  margin: 10px 5%;
  text-align: justify;
}
.description-label {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #0B2240;
  color: white;
  padding: 3px;
  padding-left: 5px;
  border-radius: 5px;
}
.description-btn {
  display: flex;
  justify-content: center;
}
.description-btn select, .description-btn button {
  margin-top: 20px;
  margin-bottom: 5em;
  border-radius: 6px;
  padding: 1% 2%;
  background-color: #0B2240;
  color: white;
}
[type="date"] {
  color:#0B2240;
  border-radius: 5px;
  border-color:#15437F;
}
#sort-date button, .status-container button {
  background:#0B2240;
  border-radius: 5px;
  padding:5px;
  color:white;
}
#sort-date button:hover, .status-container button:hover {
  background-color: rgb(169, 71, 214);
}
[class="fa fa-check"] {
  color: green;
}
[class="fa fa-pause"] {
  color: orange;
}
[class="fa fa-thumbs-up"] {
  color: blue;
}
[class="fa fa-thumbs-down"] {
  color: red;
}
#status-text {
  background-color: #15437F;
  border-radius: 5px;
  margin: 2% 35%;
  color: white;
}
#status-header {
  padding: 5px;
  margin: 0 20%;
  background-color: #15437F;
  border-radius: 15px;
  color: white;
  font-size: 150%;
  font-weight: bold;
}
#login-text {
  color: white;
  margin-top: 1em;
  margin-bottom: 2em;
}
h3 a {
  text-decoration: none;
  color:white;
}
#file-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#file-div label {
  background: #fff;
  padding: 10px;
  border: solid 1px #0B2240;
  border-radius: 5px;
  display: table;
  color: #0B2240;
  margin-bottom: 1em;
}

[type="file"] {
  display: none;
}
textarea {
  border-radius: 10px;
  resize: none;
  width: 99%;

}
.status-div {
  color:  #15437F;
  border: solid rgb(135, 184, 248);
  border-radius: 10px;
  background-color: rgb(135, 184, 248);
  margin: 0 20%  4%  20%;
}
.status {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0 5%;
}
.status li {
margin: 1em 0;
}
.description-p-textarea, .category-p-textarea, .title-p-textarea {
  background-color: #0B2240;
  color: white;
  padding: 5px;
  border-radius:5px;
  margin-bottom: 1%;
}
.category-div select, textarea, input {
  padding: 5px;
  border-radius:5px;
  border-color:#15437F;
}
.textarea-div, .category-div {
  margin-left: 10%;
  margin-right: 10%;
}
.category-div {
padding-bottom: 1%;
}
#get-started {
  margin: 5%;
  display: flex;
  justify-content: center;
  font-size: 170%;
}
#get-started a {
  background: #0B2240;
  color: white;
  padding: 3px 20px;
  border-radius: 25px;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
table {
  display: block;
  justify-content: center;
  margin: 7% 3%;
  margin-top: 2%;
  overflow: auto;
}
td {
  padding: 5px;
  border-bottom: solid 1px #15437F;
}
th {
  background: #0B2240;
  color: white;
  text-align: center;
  border: solid #0B2240;
  border-radius: 6px;
}
tr {
  text-align: justify;
}
tr th:nth-child(1) {
  width: 15%;
}
tr th:nth-child(2) {
  width: 50%;
}
tr td:nth-child(1) {
  white-space: nowrap;
}
tr td:nth-child(2) {
  white-space: nowrap;
}
tr td:nth-child(5) {
  text-align: center;
}
tr td:nth-child(4) {
  white-space: nowrap;
}
tr th:nth-child(3) {
  width: 10%;
  padding: 0 5px;
}
tr th:nth-child(4) {
  width: 15%;
}
tr th:nth-child(5) {
  width: 10%;
}
table a:hover {
color: red;
}
.listing1 ul li {
  display: inline-flex;
}
.listing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#how-it-works {
  padding: 5px;
  margin-bottom: 3%;
  background-color: #15437F;
  color: white;
  font-size: 150%;
  font-weight: bold;
}
#request-btn {
  display: flex;
  justify-content: center;
  
}
#request-btn button {
  margin: 10%;
  border-radius: 6px;
  padding: 1%;
  width: 20%;
  background-color: #0B2240;
  color: white;
}
.footer-media {
  display: flex;
  list-style-type: none;
  margin-left: 30%;
  margin-right: 30%;
  justify-content: space-between;
  font-size: 2em;
}
.footer-media > li:first-child {
  font-size: 0.7em;
  padding: 4% 2% 2% 0;
}
html, body {
  height: 100%;
}
#addrequest-h2 {
  margin-top: 5%;
  margin-bottom: 2%;
}
#detail-card {
  margin-top: 1%;
  margin-bottom: 2%;
}
footer {
  background-color:#15437F;
  padding-bottom: 4%;
  padding-top: 2%;
  color: white;
}
@media only screen and (max-width: 676px) {
  .nav a {
    font-size: 80%;
  }
  #sort-by {
    flex-wrap: wrap;
    font-size: 80%;
  }
  tr th:nth-child(2), tr td:nth-child(2), tr th:nth-child(3), tr td:nth-child(3) {
    display: none;
  }
  th {
    font-size: 90%;
  }
  tr {
    text-align: center;
    font-size: 95%;
  }
  tr td:nth-child(1) {
    text-align: justify;
  }
  .form-container {
    margin: 10% 5%;
    padding: 2% 0;
  }
  #welcome-text {
    margin: 0 5%;
  }
  #status-text {
    border-radius: 5px;
    margin: 2% 2%;
    color: white;
  }
  #status-header {
    padding: 5px;
    margin: 0 10%;
    border-radius: 15px;
    font-size: 100%;
    font-weight: bold;
  }
  .status-div {
    margin: 0 10%  4%  10%;
  }
  #get-started {
    font-size: 120%;
  }
  .card {
    flex: 1 0 300px;
    margin: 5px;
    border: solid 1px rgb(73, 73, 182);
    border-radius:5px;
    height: auto;
  }
  .welcome-div {
    max-height: 350px;
    background-image: url("../image/repair1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media(min-width:300px) and (max-width: 360px) {
  .nav a {
    font-size: 68%;
  }
  #sort-by {
    font-size: 75%;
  }
  .form-container {
    margin: 10% 2%;
    padding: 2% 0;
  }
  .welcome-div h1{
    margin-top: 55%;
    margin-bottom: 3%;
  }
  #status-header {
    padding: 5px;
    margin: 0 5%;
    border-radius: 15px;
    font-size: 100%;
    font-weight: bold;
  }
  .status-div {
    margin: 0 5%  4%  5%;
  }
}
@media(min-width:580px) and (max-width: 700px) {
  .card {
    flex: 1 0 200px;
    max-width: 300px;
    margin: 5px;
  }
  #addrequest-h2 {
    font-size: 100%;
  }
  #status-header {
    padding: 5px;
    margin: 0 5%;
    border-radius: 15px;
    font-size: 100%;
    font-weight: bold;
  }
  .status-div {
    margin: 0 5%  4%  5%;
  }
}
@media(min-width:768px) and (max-width: 850px) {
  .welcome-div {
  background-repeat: no-repeat;
  background-size: contain;
  }
  #status-header {
    padding: 5px;
    margin: 0 15%;
    border-radius: 15px;
    font-size: 100%;
    font-weight: bold;
  }
  .status-div {
    margin: 0 15%  4%  15%;
  }
}
